
/*Variables */
$baseFont: #E4D00A;
$background_color: #0606e1 ;
$aside_text:white; 
$alt_font: #161652;
$base_border: #c032a2;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
};

body{
    display: flex;
    flex-wrap: wrap;
    

    aside {
        flex-grow: 1;
        min-width: 300px;
        border: solid 2px black;
        height: 100vh;
    }

    main {
        flex-grow: 5;
        border: solid 2px black;
        min-width: 500px;
        height: 100vh;
    }
}


@media only screen and (max-width: 800px) {
   
        body { 
            
            aside {
            max-height: 33vh;
        }

        main {
            max-height: 67vh;
        }
    }      



  }